body{
    text-align: center;
}
.header {
    text-align: center;
    font-size: 100px;
}
.start{
    margin-right: 25px;
}
.stop{
    margin-right: 25px;
}
#stopwatch {
    font-size: 100px;
    margin-bottom: 50px;
}
button {
    width: 100px;
    height: 30px;
    border: solid white 1px;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}